<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Webhooks</title>
</head>
<body>
    {% if action == 'PULL_REQUEST' %}
    <h3> {{author}} submitted a pull request from {{from_branch}} to {{to_branch}} on {{created_at}}. </h3>
    {% endif %}
    {% if action == 'PUSH' %}
    <h3> {{author}} pushed to {{to_branch}} on {{timestamp}}. </h3>
    {% endif %}
    
    

</body>
</html>